.form__input {
  color: #000;
  border: none;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 15px;
  font-size: 13px;
}
.form__input:focus-visible {
  outline: 1px solid rgba(52, 86, 243, 0.4);
}
