.form__button {
  min-height: 45px;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}
.form__button:focus {
  border-bottom: 1px solid #3456f3;
}

@media (max-width: 576px) {
  .form__button {
    font-size: 12px;
  }
}
