.section {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  padding: 0px 30px;
}

@media (max-width: 992px) {
  .section {
    padding: 0px 50px;
  }
}

@media (max-width: 576px) {
  .section {
    padding: 0px 14px;
  }
}
