.product {
  width: auto;
  background-color: #f9f9f9;
}

.product:nth-child(2n) {
  background-color: #fff;
}
.product__item {
  padding: 5px;
  border-bottom: solid 3px #dfdfdf;
}

.product__name {
  /* min-width: 200px; */
  background-color: rgba(168, 168, 168, 0.2);
}

.product__name:nth-of-type(2n) {
  background-color: #fbfbfb;
}

.product__button-open:hover {
  background: url(../../images/icons_triangle_open.png) no-repeat center;
  background-size: 13px;
}

.product__button-close {
  background: url(../../images/icons_triangle_close.png) no-repeat center;
  background-size: 13px;
}

.product__mark {
  background-color: #fff0f0;
  border: 1px solid #b9b9b9;
}

.product__item_is_marked {
  background-color: #d3ffd3;
}
