.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  cursor: pointer;
  min-width: 20px;
  min-height: 20px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.button:hover {
  opacity: 0.8;
}

.button:disabled,
.button:disabled:hover {
  background-color: #f8f8f8;
  opacity: 1;
}
