.title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

@media (max-width: 576px) {
  .title {
    font-size: 31px;
    line-height: 39px;
  }
}
